{% extends 'base.html' %}
{% block content %}
<h2>This is a blog page</h2>



<!-- <ul>
    >what is a client? A client is what sends requests to a server, for example a browser

  what is a server? A web server is what responds to the clients request 

    what is an HTTP request? An http request is a protocol and tells the server and client how to behave

    what is an HTTP response? A response is given in a code to say what the server did with the client request, ex. 404 means request wasn't found

    what is Django and why do we use it? Django is a web framework and it's used to help create web apps

</ul> -->
{% for article in articles %}

  <a href="{% url 'post_message' id=article.pk %}">
    <p>
      <h2>{{ article.title }}</h2>
      {{ article.body }}

    </p>
  </a>

{% endfor %}

{% endblock %}